<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/previewSampleApp" version="0.2.1" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:app-control>
        <tizen:src name="index.html" reload="disable"/>
        <tizen:operation name="http://samsung.com/appcontrol/operation/eden_resume"/>
    </tizen:app-control>
    <tizen:application id="cc6B9zFiV3.previewSampleApp" package="cc6B9zFiV3" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="2.4"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.accelerator" value="endpoint_URL=https://www.samsungdforum.com/Preview/sampleJSON.json"/>
    <name>previewSampleApp</name>
    <tizen:profile name="tv-samsung-public"/>
</widget>
